@import url("https://fonts.googleapis.com/css2?family=Nokora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nokora&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nokora", "Inter", sans-serif !important;
}

.background-img {
  background-image: url("./assets/home.jpg");
}

.background-img-2 {
  background-image: url("./assets/web3.jpg");
  /* background-repeat: no-repeat; */
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
.background-img-3 {
  background-image: url("./assets/home.jpg");
  background-repeat: repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
